{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#block07enabled}}
<section id="block07" class="__hidden">
    <div class="blockbgwhite">
        <div class="container">
            <div class="row">
                {{! Courses }}
                <div class="col-md-12" >
                    <div class="section-title-fp  hytext text-center">
                        <h4>{{block07header}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#block07design1}}
        {{> theme_almondb/frontpage/block07_1 }}
    {{/block07design1}}          
    {{#block07design2}}
        {{> theme_almondb/frontpage/block07_2 }}
    {{/block07design2}}  
    {{#block07design3}}
        {{> theme_almondb/frontpage/block07_3 }}
    {{/block07design3}}  
    {{#block07design4}}
        {{> theme_almondb/frontpage/block07_4 }}
    {{/block07design4}} 
    {{#block07design5}}
        {{> theme_almondb/frontpage/block07_5 }}
    {{/block07design5}}
    <div class="d-flex justify-content-center hy-pt-5 blockbgcolor-b">
        <div class="hire-us-btn">
            <a class="hybtn" href="{{block07buttonlink}}">{{block07button}}</a>
        </div>
    </div>
</section>
{{/block07enabled}}





 <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Nossa equipa</h5>
                <h1 class="mb-0">Professionais Prontos para Ajudar no Seu negócio</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="theme/almondb/img/team-1.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Ana Monica</h4>
                            <p class="text-uppercase m-0">Auditora Contabilista</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="theme/almondb/img/team-2.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Ana Monica</h4>
                            <p class="text-uppercase m-0">Auditora Contabilista</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="team-item bg-light rounded overflow-hidden">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="theme/almondb/img/team-3.jpg" alt="">
                            <div class="team-social">
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-instagram fw-normal"></i></a>
                                <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h4 class="text-primary">Ana Monica</h4>
                            <p class="text-uppercase m-0">Auditora Contabilista</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->







    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Nossos Cursos</h5>
                <h1 class="mb-0">Oferecemos cursos online disponíveis 24/7</h1>
            </div>

            <div class="row g-5" style="justify-content:center;">

                {{#block07}}

                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{{imgurl}}" alt="">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="{{categorylink}}">
                                {{categoryName}}
                            </a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i> {{studentscount}}</small>
                                <small><i class="far fa-calendar-alt text-primary me-2"></i>{{update}}</small>
                            </div>
                            <h4 class="mb-3">
                            {{#block07shortname}}{{shortname}}{{/block07shortname}}
                            {{#block07fullname}}{{fullname}}{{/block07fullname}}
                            </h4>
                            <p>{{#shortentext}} 120, {{{summary}}} {{/shortentext}}</p>
                            <a class="text-uppercase" href="{{courselink}}">Saiba mais <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                {{/block07}}

              
            </div>
        </div>
    </div>
    <!-- Blog Start -->